<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.barcoders">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barcoders">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcZOKw7vbxJiyOUqiyzkqIP8hUNG1zo2k"/>

        <activity
            android:name=".Maptivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".INFO"/>
        <activity android:name=".SubActivity"/>
        <activity android:name=".Fail"/>
        <activity android:name=".Success_metal"/>
        <activity android:name=".Success_glass"/>
        <activity android:name=".Success_poly"/>
        <activity android:name=".Success_paper"/>
        <activity android:name=".Success_plastic"/>
        <activity android:name=".Success_vinyl"/>
        <activity
            android:name=".Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>